server:
  port: 8888

spring:
  application:
    name: logsentinel-config-server

  cloud:
    config:
      server:
        git:
          uri: git@github.com:Harsh-Codes-382/logsentinel-config-repo.git
          default-label: main
          clone-on-start: true
          timeout: 5

management:
  endpoints:
    web:
      exposure:
        include: health,info